In [1]:
import pandas as pd

In [3]:
incomes = [25_000, 50_000, 100_000, 250_000, 1_000_000, 5_000_000, 25_000_000, 100_000_000, 1_000_000_000]
rates = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]

In [5]:
lower = [0] + incomes
lower

[0,
 25000,
 50000,
 100000,
 250000,
 1000000,
 5000000,
 25000000,
 100000000,
 1000000000]

In [10]:
upper = incomes + ['']
upper

[25000,
 50000,
 100000,
 250000,
 1000000,
 5000000,
 25000000,
 100000000,
 1000000000,
 '']

In [11]:
tax_brackets = pd.DataFrame(list(zip(lower, upper, rates)), columns = ['Lower', 'Upper', 'MTR'])
tax_brackets

        Lower       Upper  MTR
0           0       25000  0.0
1       25000       50000  0.1
2       50000      100000  0.2
3      100000      250000  0.3
4      250000     1000000  0.4
5     1000000     5000000  0.5
6     5000000    25000000  0.6
7    25000000   100000000  0.7
8   100000000  1000000000  0.8
9  1000000000              0.9